In [2]:
import numpy as np
import pandas as pd

train_data = pd.read_csv('twitter_train.csv')
test_data = pd.read_csv('twitter_test.csv')
train_data

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

In [119]:
train_data.shape

(10980, 12)

In [120]:
test_data.shape

(3660, 11)

In [3]:
## train_docs
import random
train_docs = []

for i in range(train_data.shape[0]):
    train_docs.append((train_data['text'][i], train_data['airline_sentiment'][i]))
    
random.shuffle(train_docs)

train_docs[0:5]

[('@JetBlue I understand but wish you would have announced the delay 2 hours earlier vs sitting for 2 hrs at MCO',
  'negative'),
 ("@USAirways my flight is Cancelled Flightled and you guys aren't Answering the phones what do I do ?",
  'negative'),
 ('@JetBlue great will do once I land in JFK', 'positive'),
 ('@USAirways we should have been given the option to get off the plane not sit on it for a time longer than our actually flight.',
  'negative'),
 ('@united Thanks!', 'positive')]

In [122]:
test_data

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...
3655,570304244001193984,US Airways,NaN,Anthony_Scerri,NaN,0,@USAirways Been stuck for 40+ minutes due to l...,NaN,2015-02-24 11:28:22 -0800,"Astoria, NY",Quito
3656,567847737061941249,US Airways,NaN,mttdprkr,NaN,0,@USAirways 4 hours... 4 hours... FOUR HOURS. ...,NaN,2015-02-17 16:47:05 -0800,"Vancouver, WA",Pacific Time (US & Canada)
3657,567823564167192576,Virgin America,NaN,miaerolinea,NaN,1,Nice RT @VirginAmerica: The man of steel might...,NaN,2015-02-17 15:11:02 -0800,Worldwide,Caracas
3658,570273819287531520,American,NaN,GoldensPleasure,NaN,0,@AmericanAir Aww Thanks AA..DFW was on GMA up ...,NaN,2015-02-24 09:27:28 -0800,East Coast CT.,Central Time (US & Canada)
3659,569341769114128386,United,NaN,suntoshi,NaN,0,@united the lounge tells us they have no pillo...,NaN,2015-02-21 19:43:50 -0800,"Bedford, Nh",Eastern Time (US & Canada)

In [4]:
#test_docs
test_docs = []
for i in range(test_data.shape[0]):
    test_docs.append((test_data['text'][i], test_data['airline_sentiment_gold'][i]))
test_docs[0:5]

[("@AmericanAir In car gng to DFW. Pulled over 1hr ago - very icy roads. On-hold with AA since 1hr. Can't reach arpt for AA2450. Wat 2 do?",
  nan),
 ('@AmericanAir after all, the plane didn‚Äôt land in identical or worse) conditions at GRK according to METARs.',
  nan),
 ("@SouthwestAir can't believe how many paying customers you left high and dry with no reason for flight Cancelled Flightlations Monday out of BDL! Wow.",
  nan),
 ('@USAirways I can legitimately say that I would have rather driven cross country than flown on US Airways.',
  nan),
 ('@AmericanAir still no response from AA. great job guys!', nan)]

In [124]:
new_train_docs = [(doc.split(' '), cat) for doc, cat in train_docs]
new_test_docs = [(doc.split(' '), cat) for doc, cat in test_docs]

In [125]:
new_train_docs[0]

(['@JetBlue',
  "There's",
  'a',
  'large',
  'family',
  'of',
  'birds',
  'inside',
  'T5.',
  'Are',
  'they',
  'fed?',
  'Are',
  'they',
  'there',
  'for',
  'a',
  'purpose?'],
 'neutral')

In [126]:
## stop words:

from nltk.corpus import stopwords
import string
stop = stopwords.words('english')
punctuations = list(string.punctuation)
a = ['']
stop = stop + punctuations + a

In [128]:
###lemmatize each word and find new claen_docs for training :

from nltk.stem import WordNetLemmatizer
from nltk import pos_tag


lemmatizer = WordNetLemmatizer()

In [129]:
## defining a func for simple_pos_tag
from nltk.corpus import wordnet
def get_simple_pos(tag):
    
    if tag.startswith('J'):
        return wordnet.ADJ
    
    elif tag.startswith('V'):
        return wordnet.VERB
    
    elif tag.startswith('N'):
        return wordnet.NOUN
    
    elif tag.startswith('R'):
        return wordnet.ADV
    
    else:
        return wordnet.NOUN

In [130]:
def clean_analysis(words):
    output_words = []
    for w in words:
        if w.lower() not in stop:
            pos = pos_tag([w])
            clean_words = lemmatizer.lemmatize(w, pos = get_simple_pos(pos[0][1]))
            output_words.append(clean_words.lower())
            
    return output_words

In [131]:
### get clean train and test docs

clean_train_docs = [(clean_analysis(doc),cat) for doc, cat in new_train_docs]
clean_test_docs = [(clean_analysis(doc),cat) for doc, cat in new_test_docs]

In [132]:
clean_train_docs[0]

(['@jetblue',
  "there's",
  'large',
  'family',
  'bird',
  'inside',
  't5.',
  'fed?',
  'purpose?'],
 'neutral')

In [238]:
from sklearn.feature_extraction.text import CountVectorizer

In [239]:
sentiments = [cat for doc, cat in clean_train_docs]
train_tweets = [' '.join(doc) for doc, cat in clean_train_docs]
test_tweets = [' '.join(doc) for doc, cat in clean_test_docs]

In [240]:
count_vec = CountVectorizer(max_features = 3000, max_df = 0.98, ngram_range = (1,3))

In [241]:
x_train_features = count_vec.fit_transform(train_tweets)

In [242]:
x_train_features.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [243]:
#count_vec.get_feature_names()

In [244]:
x_test_features = count_vec.transform(test_tweets)

In [245]:
x_test_features.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [246]:
#count_vec.get_feature_names()

In [248]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

clf=SVC()

grid={'C':[1e2,1e4,1e1,5e3,1e3,5e2],
      'gamma':[1e-3,1e-2,5e-3,5e-2,1e-4,1e-5]}

svm=GridSearchCV(clf,grid,n_jobs=-1)
svm.fit(x_train_features, sentiments)

GridSearchCV(estimator=SVC(), n_jobs=-1,
             param_grid={'C': [100.0, 10000.0, 10.0, 5000.0, 1000.0, 500.0],
                         'gamma': [0.001, 0.01, 0.005, 0.05, 0.0001, 1e-05]})

In [249]:
y_pred = svm.predict(x_test_features)

In [250]:
predictions = pd.DataFrame(y_pred)

In [251]:
predictions.to_csv('vansh_twitter_analysis.csv', index = False, header = False)